body 
{
  background-color: #222;
}

.circle_progress_wrap 
{
  position: relative;
  height: calc(20rem - 43px)!important;
  width: 100%;
}

.circle_progress 
{
  transform: rotate(-90deg);
}

.frame, .bar 
{
  fill: none;
}

.frame 
{
  stroke: #e6e6e6;
}

.bar 
{
  stroke: #03c75a;
  stroke-linecap: round;
  animation: uitLineMove 1s ease-in forwards;
  animation-direction: alternate-reverse;
  animation-iteration-count: 1;
}

.value 
{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  color: #888;
  font-size: 30px;
  line-height: 320px;
}
