<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/CSS/base.css">
    <title>MHDP Full Calendar</title>
    <link rel="stylesheet" href="../../static/CSS/style.css">
</head>
<div class="container">
    <table border="1" style="height: 500px;">
        <tr align="center">
            <td colspan="2">
            <div class="calendar">
                <div class="header">
                    <div class="year-month"></div>
                    <div class="nav">
                        <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
                        <button class="nav-btn go-today" onclick="goToday()">Today</button>
                        <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
                    </div>
                </div>
                <div class="main">
                    <div class="days">
                        <div class="day">일</div>
                        <div class="day">월</div>
                        <div class="day">화</div>
                        <div class="day">수</div>
                        <div class="day">목</div>
                        <div class="day">금</div>
                        <div class="day">토</div>
                    </div>
                    <div class="dates"></div>
                </div>
            </div>
            <script src="../../static/javascript/diary.js"></script>
            </td>
        </tr>
        <tr align="center">
            <td style ="cursor: pointer;" onclick="location.href='/main/'">확인</td>
            <td style ="cursor: pointer;" onclick="location.href='/main/'">나가기</td>
        </tr>
    </table>
</div>
</body>
</html>