<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport"
	content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../../static/CSS/base.css">
	<title>저녁</title>
	<script src="https://kit.fontawesome.com/8118e973b8.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
<table border="1" style="height: 600px;">
	<tr align="center" style="height: 15%;">
		<td colspan="2">
			<button type="button" onclick="history.back(-1);" style="float: left;"><i class="fas fa-angle-left"></i>
			</button> 	
			저녁
			<button type="button" onclick="location.href='search'" style="float: right;">
				<i class="fas fa-search"></i>
			</button>
			<button type="button" onclick="history.back(-1);" style="float: right;">
				<i class="fas fa-camera"></i>
			</button>
		</td>
	</tr>
	<tr align="center" style="height: 40%;">
		<td colspan="2" style ="cursor: pointer;" onclick="location.href='set/'">
			<h3>사진</h3>
		</td>
	</tr>
	<tr align="center" style="height: 30%;">
		<td colspan="2">
			<h3>음식/칼로리</h3>
		</td>
	</tr>
	<tr align="center" style="height: 15%;">
		<td><button onclick="location.href='/main/'">저장</button></td>
		<td><button onclick="location.href='/main/'">수정</button></td>
	</tr>
</table>
</div>
</body>
</html>