<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport"
	content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../../static/CSS/base.css">
	<title>login</title>
</head>
<body>
<div>
<table border="1" style="height: 500px;">
	<tr align="center" style="height: 30%;">
		<td>
			<h3>LOGIN</h3>
		</td>
	</tr>
	<tr align="left" style="height: 30%;">
		<td>
			사용자 ID : <input type="text" size="14" value="">
		</td>
	</tr>
	<tr align="left" style="height: 30%;">
		<td>
			비밀번호  : <input id="pass" type="password" size="14" value="">
			<button onclick="location.href='main/'">확인</button>
		</td>
	</tr>
	<tr align="center" style="height: 10%;">
		<td>
			<button size="15" onclick="location.href='signup/'">회원가입</button>
			<button size="15" onclick="location.href='main/'">아이디/비밀번호찾기</button>
		</td>
	</tr>
</table>
</div>
</body>
</html>