<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport"
	content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../../static/CSS/base.css">
	<title>메인 화면</title>
	<link rel="stylesheet" href="../../static/CSS/gauge.css">
</head>
<body>
	<div class="container">
	<table border="1" style="height: 500px;">
		<tr align="center" style= "height: 30%;">
			<td colspan="2">
				<div class="circle_progress_wrap">
  				<svg class="circle_progress" width="120" height="120" viewBox="0 0 120 120">
   				<circle class="frame" cx="60" cy="60" r="54" stroke-width="12" />
    			<circle class="bar" cx="60" cy="60" r="54" stroke-width="12" />
				<p>잔여 칼로리</P>
  				</svg>
  				<input id="control" type="range" value="60" />
  				<strong class="value"></strong>
				<script>
				var control = document.getElementById('control');
				var bar = document.querySelector('.bar');
				var value = document.querySelector('.value');
				var RADIUS = 54;
				var CIRCUMFERENCE = 2 * Math.PI * RADIUS;

				function progress(per) {
  					var progress = per / 100;
  					var dashoffset = CIRCUMFERENCE * (1 - progress);
  
  					//value.innerHTML=per +'%';
  					value.innerHTML= Math.round("{{content}}")
  					bar.style.strokeDashoffset = dashoffset;
				}

				control.addEventListener('input', function(event) {
  				progress(event.target.valueAsNumber);
				});
				control.addEventListener('change', function(event){
  				progress(event.target.valueAsNumber);
				});

				bar.style.strokeDasharray = CIRCUMFERENCE;
				progress(60);
				</script>
				</div>
			</td>
		</tr>

		<script>
			var cnt=0;
			var eat_name=new Array();
			var eat_kcal=new Array();
			'{% for eat in eats %}'
				cnt++;
				eat_name[cnt]='{{eat.food_name}}'
				eat_kcal[cnt]='{{eat.food_kcal}}'
			'{% endfor %}'
			document.write(eat_name[1],eat_name[2],eat_name[3],eat_name[4]);
			document.write(eat_kcal[1],eat_kcal[2],eat_kcal[3],eat_kcal[4]);
		</script>
		<tr align="center" style= "height: 15%;">
			<td style ="cursor: pointer;" onclick="location.href='morning/'">아침</td>
			<td style ="cursor: pointer;" onclick="location.href='lunch/'">점심</td>
		</tr>
		<tr align="center" style= "height: 15%;">
			<td style ="cursor: pointer;" onclick="location.href='dinner/'">저녁</td>
			<td style ="cursor: pointer;" onclick="location.href='snack/'">간식</td>
		</tr>
		<tr align="center" style= "height: 20%;">
			<td style ="cursor: pointer;" onclick="location.href='dinner/'" colspan="2">메모</td>
		</tr>
		<tr align="center" style= "height: 10%;">
			<td style ="cursor: pointer;" onclick="location.href='diary/'" colspan="2">다이어리</td>
		</tr>
		<tr align="center" style= "height: 10%;">
			<td colspan="2" style ="cursor: pointer;" onclick="location.href='set/'">설정</td>
		</tr>
	</table>
	</div>
</body>
</html>