<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport"
	content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../../static/CSS/base.css">
	<title>아침</title>
	<script src="https://kit.fontawesome.com/8118e973b8.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
<table border="1" style="height: 600px;">
	<tr align="center" style="height: 15%;">
		<td colspan="2">
			<button type="button" onclick="location.href='/main/'" style="float: left;"><i class="fas fa-angle-left"></i>
			</button> 	
			아침
			<button type="button" onclick="location.href='msearch'" style="float: right;">
				<i class="fas fa-search"></i>
			</button>
			<button type="button" onclick="history.back(-1);" style="float: right;">
				<i class="fas fa-camera"></i>
			</button>
		</td>
	</tr>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<tr align="center" style="height: 40%;">
			<td colspan="2" style ="cursor: pointer;">
				<h3>사진</h3>
				<img id="img" src="{{img}}">
				<input type="file" name="image_field">
			</td>
		</tr>
		<tr align="center" style="height: 30%;">
			<td colspan="2">
				<h3>음식/칼로리</h3>
				{% for food in foods %}
					<p>{{food.food_name}}       {{food.food_kcal}}</p>
				{% endfor %}
			</td>
		</tr>
		<tr align="center" style="height: 15%;">
			<td><button type="submit" onclick="location.href='/main/'">저장</button></td>
			<td><button type="button" onclick="location.href='/main/morning/mfoodedit'">수정</button></td>
		</tr>
	</form>
</table>
</div>
</body>
</html>