<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport"
	content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../../static/CSS/base.css">
	<title>회원가입</title>
</head>
<body>
<div>
<table border="1" style="height: 500px;">
	<tr align="center" style="height: 10%;">
		<td>
			<h3>회원가입</h3>
		</td>
	</tr>
	<tr align="left" style="height: 10%;">
		<td>
			ID : <input type="text" size="15" value="">
			<button onclick="location.href='main/'">확인</button>
		</td>
	</tr>
	<tr align="left" style="height: 20%;">
		<td>
			PW 확인 : <input id="pass" type="password" size="15" value="">
		</td>
	</tr>
	<tr align="left" style="height: 20%;">
		<td>
			PW 재확인 : <input id="pass" type="password" size="15" value="">
		</td>
	</tr>
	<tr align="left" style="height: 10%;">
		<td>
			이름 : <input id="name" type="text" size="15" value="">
		</td>
	</tr>
	<tr align="left" style="height: 10%;">
		<td>
			전화번호 : <input id="number" type="text" size="15" value="">
		</td>
	</tr>
	<tr align="left" style="height: 10%;">
		<td>
			이메일 : <input id="email" type="text" size="15" value="">
		</td>
	</tr>
	<tr align="center" style="height: 10%;">
		<td>
			<button size="15" onclick="location.href='/'">확인</button>
		</td>
	</tr>
</table>
</div>
</body>
</html>