<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
	content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/CSS/base.css">
	<title>사용자 정보 설정</title>
</head>
<body>
	<div>
	<table border="1" style="height: 500px;">
		<tr align="center">
			<h3><td colspan="2">사용자 정보 입력</td></h3>
		</tr>
		<tr align="center">
			<td colspan="2">성별 <input type="radio" name="gender" value="male">남성 
			<input type="radio" name="gender" value="female">여성</td>
		</tr>
		<tr align="center">
			<td colspan="2">나이 <input type="text" size="4">세</td>
		</tr>
		<tr align="center">
			<td colspan="2">신장 <input type="text" size="4">cm</td>
		</tr>
		<tr align="center">
			<td colspan="2">몸무게 <input type="text" size="4">kg</td>
		</tr>
		<tr align="center">
			<td><button onclick="location.href='main/set/'">확인</button></td>
			<td><button onclick="location.href='main/set/'">나가기</button></td>
		</tr>
	</table>
	</div>
</body>
</html>