<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
	content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/CSS/base.css">
	<title>사용자 정보 설정</title>
</head>
<body>
    <div class="container"> 
    	<form id="form" method="post">
        	{% csrf_token %}
			<table border="1">
				<tr align="center">
					<h3><td colspan="2">사용자 정보 입력</td></h3>
				</tr>
				<tr align="center">
					<td colspan="2">성별 <input type="radio" name="gender" value="1">남성 
					<input type="radio" name="gender" value="2">여성</td>
				</tr>
				<tr align="center">
					<td colspan="2">나이 <input name="age" type="text" size="4">세</td>
				</tr>
				<tr align="center">
					<td colspan="2">신장 <input name="height" type="text" size="4">cm</td>
				</tr>
				<tr align="center">
					<td colspan="2">몸무게 <input name="weight" type="text" size="4">kg</td>
				</tr>
				<tr align="center">
					<td><button type="submit" onclick="location.href='main/set/'">확인</button></td>
					<td><button type="button" onclick="location.href='main/set/'">나가기</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>